*, *:before, *:after {
    box-sizing: border-box;
  }
/*{ border: 2px solid green;
}*/

body {
    /*max-width: 600px;*/
    margin: 20px ; 
    background-color: rgba(124, 113, 226, 0.877);
    font-family: "Times New Roman", sans-serif; 
    color: black;
    border: 2px solid white; /* does this get inherited?*/
}
form {
    font-size:20px;
    background-color:white;
    border: 2px solid black;
    width: 400px;
    height: auto;
}
h1{
    font-size: 20px;
    font-weight:bold;
    border: 1px solid black;
    width: 400px;
    height: auto;
 } 
h2{
    font-size: 20px;
}
ul {
    list-style-type: none;
}
#skills ul li {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}
/* is this the best way to line up list items horizontally on the same line?*/
/* #connect li{
    display: inline;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
} Does the html override this?*/ 

input{
    display: block;
    height: 30px;
    width: 200px;
}
button {
    font-weight: bold;
    cursor: pointer;
}
#messages button {
    margin: 5px 0px 5px 400px ;
}
/*changes color of messages*/
#messages ul {
    background-color: lightblue;
    border: 2px solid black;
    width: 600px;
}
/*can i combine this?*/
input:focus{
    background-color: lightblue;
    outline: 1px solid royalblue;
}
textarea:focus{
    background-color: lightblue;
    outline: 1px solid royalblue;
}
button:focus{
    outline: 1px solid royalblue;  
}

/* css reset ensures that your css looks the same on all browsers
