*, *:before, *:after {
    box-sizing: border-box;
  }
* {      
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
html {
    font-size: 18px;
    height: 100%;
}

:root {
    --body: rgb(255, 252, 250);
    --header:rgb(78, 25, 146);
    --banners: rgb(78, 25, 146);
    --bannerText:rgb(248, 249, 246);
    --text:black; 
    --bannerOutline:rgb(129, 39, 39);
  }

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100%;
    align-items: center;
    background-color: var(--body);
    font-family: "Times New Roman", sans-serif; 
    color: var(--text);
    overflow-x: hidden;
}

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem; 
    background-color: var(--header);
    width: 100%;
    height: 5rem;
    padding: 0 3rem;

 }
 .navBar:hover{
     color:rgb(35, 196, 236); 
 }
 .container { 
    width: 65vw;
    margin: 0 auto;
}
 header ul {
     display: flex;
     gap: 1rem;
 }

h1 {
    font-weight:bold;
    color: var(--bannerText);
    font-size: 1.5rem;
 }

 #bio {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.5rem;
    gap: 4rem;
}

 #bio p {
    max-width: 40rem;
 }

img {
    width: 139px;
    height: 150px;
    border-radius: 50%;
}

#skills h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    background-color:var(--banners);
    
    border-top: 2px solid var(--bannerOutline);
    min-width: 100vw;
    height: 4rem;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
#skills ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.15rem solid  black;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    width: 4rem;
}

#experience h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    background-color: var(--banners);
    min-width: 100vw;
    height: 4rem;
}

#grid--experience {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    row-gap: 2rem;
}

#grid--experience li {
    display: flex;
    justify-content: space-between;
    background-color: #e8e9e8;
    border-radius: 0.25rem;   
}

#grid--experience li p {
    padding: 0.25rem 1rem;
}

#projects h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    background-color: var(--banners);
    min-width: 100vw;
    height: 4rem;
}

.projectTags {
    color:black;
}

h3{
    font-size: 20px;
}

.grid--projects {
    display: grid;
    justify-content: center;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 15rem;
    grid-auto-rows: 1fr; 
    gap: 2rem;
    /*will need to change as more projects added*/

}

.grid--projects a:hover{
    transition: transform 300ms;
    transform: translateY(-10px);
    background-color:rgb(35, 196, 236); 
}

.grid--projects a {
    background-color: #e8e9e8;
    border-radius: 0.25rem;
    will-change: transform;
    transition: transform 450ms;
    box-shadow: 0 5px 8px rgb(0 0 0 / 30%);
}

.grid--projects li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    height:100%;
} 

#leave_message_container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: var(--banners);
    min-width: 100vw;
    height: 4rem;
    margin: 4rem 0;
}

form {
    font-size: 1rem;
    background-color: #e8e9e8;
    border: 0.1rem solid  black;
    border-radius: 0.25rem;
    margin: 0 auto; /*centers container*/
    height: 20rem;
    max-width: 35rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    align-items: end;
}

label {
    grid-column: 1/2;
    padding-bottom: 0.2rem;
}

input {
    grid-column: 1/3;
    height: 2rem;
    align-self: start;  
}

textarea {
    grid-column: 1/4;
    grid-row: 6/8 ;
    height: 100%;
}

form button {
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 8/9;
    margin-top: 1rem;
    height: 2rem;
    width: 6rem;   
}

#messages h2 {
    text-align: center;
    margin: 2rem 0;
}

/*changes color of messages*/
#messages ul {
    background-color: #e8e9e8;
    border: 0.1rem solid  black;
    border-radius: 0.2rem;
    max-width: 35rem;
    margin: 0 auto; /*centers container*/
    margin-bottom: 5rem;
    padding: 0.5rem;
    min-width: 10rem;
    min-height: 10rem;   
}

#messages ul li {
    margin-bottom: 1.5rem;
}

#messages ul li span{
    color:white;
    background-color: rgb(35, 196, 236);
    border-radius: 0.3rem;
    margin: 0.25rem 0;
    padding: 0.15rem;
    display: block;
    word-wrap: break-word;
    max-width: 90%;
}

#messages button {
    cursor: pointer;
    padding: 0.15rem;
}

footer {
    background-color: var(--banners);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    padding: 0rem 3rem;
}
footer ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

footer p {
    color: #F8F9F6;
}

#bio a:link, #bio a:visited,  #bio a:hover, #bio a:active {
    color: black;
    text-decoration: underline;   
}

nav a:link, nav a:visited, nav a:active {
    color: #F8F9F6;
    text-decoration: none;
}

input:focus, textarea:focus, button:focus {
    background-color: lightblue;
    outline: 1px solid royalblue;
}

/* media queries usually at bottom*/
@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    header{
        flex-direction: column;
    }

    #skills ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }
  
    #bio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .grid--projects {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }
  }
/* css reset ensures that your css looks the same on all browsers
*/
